
$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-small: 0.875 * $font-size-base;
$font-size-large: 1.25 * $font-size-base;
$line-height-base: 1.5;
$line-height-heading: 1.2;
$primary-color: #f75c49;
$link-color: #79bdca;
